body {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif;
    color: var(--foreground-color, black);
    margin: 0;
    padding: 0;
}