.title-bar {
    -webkit-app-region: drag;

    display: flex;
    align-items: center;
    flex-shrink: 0;

    height: 32px;

    background: var(--background-color, black);

    padding-left: 1.5rem;
    padding-right: 140px;
}