.title-bar {
    -webkit-app-region: drag;

    display: flex;
    align-items: center;

    height: 32px;

    background: var(--background-color, black);

    padding-left: 12px;
    padding-right: 140px;
}